body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,11,121,0.639093137254902) 31%, rgba(0,206,255,0.9556197478991597) 100%);
color: white;
}

.Nav{
display: flex;
justify-content: space-around;
}

.nav-btns{
  align-self: center;
  
}

.nav-btn{
  margin-right: 70px;
  background-color: darkseagreen;
}

.nav-link{
  text-decoration: none;
  font-size: x-large;
  color: white
  
}

.home-nav-btn{
  text-decoration: none;
  font-size: larger;
  margin-top: 10%;
  background-color: darkseagreen;
}

.home-nav-link{
  align-items: center;
  text-decoration: none;
  font-size: x-large;
  color: white;
}
.Grid{
  display: grid;
grid-template-columns: 20% 60% 20%;
padding-bottom: 5%;
}

.Column{
  grid-column: 2;
  box-shadow: darkseagreen 3px 3px 6px 0px inset, darkseagreen -3px -3px 6px 1px inset;
}

.flex{
  display: flex;
}
body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,11,121,0.639093137254902) 31%, rgba(0,206,255,0.9556197478991597) 100%);
color:white;
}
.default-grid{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
 .column-2{
  grid-column: 2;
 }
 .pad{
  padding: 30px 30px;
  font-size: 22px;
 }
 .centered{
  margin:0 auto;
 }
 .a-center{
  align-content: center;
 }
 form p {
  font-size: 22px;
 }
 .nav-btn{
  border-radius: 10px;
  font-size: 13px;
  border-color: white;

 }
 .m-top{
  margin-top: 15px;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}